.ImageSize{
	width: 200px;
}

.TextSize{
	font-size: 120%;
	font-weight: bolder;
}

.dailylife {
    width: 700px;
    margin: 0 auto;
}
.mv{
	height: 550px;
    background: url("../../Images/mv.jpg") no-repeat 50% 0;
    position: relative;
}
.mv_title{
    top: 0;
	left: 0;
}

.profile {
    height: 700px;
    background: url(../../Images/profile_bg.png) no-repeat 0 0;
    text-align: center;
    position: relative;
    padding-top: 45px;
    box-sizing: border-box;
}

.profile__title {
    width: 484px;
    height: 43px;
    background: url(../../Images/profile_ttl.png) no-repeat 0 0;
    background-size: 484px auto;
    margin: 0 auto 21px;
    color: #fff;
    line-height: 43px;
    font-size: 22px;
    font-weight: bold;
}

.profile__name {
    width: 420px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}
.profile__text {
    line-height: 1.95;
}
.profile__image {
    width: 560px;
    margin: 0 auto;
    padding-bottom: 33px;
    background: url(../../Images/profile_comment.png) no-repeat 50% 0;
}
.profile__footer {
    display: none;
}
.timeline {
    position: relative;
}
.timeline__list {
    padding-bottom: 138px; 
}
.timeline__item--1 {
    padding-bottom: 50px; 
}
.dailylife .timeline__list li .box {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    position: relative;
}
.dailylife .timeline__list li .box .box__time {
    position: relative;
    z-index: 2;
}
.dailylife .timeline .line {
    width: 4px;
    background: #a6b8b9;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
}