.ImageSize{
	width: 200px;
}

.TextSize{
	font-size: 120%;
	font-weight: bolder;
}

.mv{
	height: 550px;
    background: url("../../Images/mv.jpg") no-repeat 50% 0;
    position: relative;
}
.mv_title{
	position; absolute;
    top: 0;
	left: 0;
}