.ImageSize{
	width: 200px;
}

.TextSize{
	font-size: 120%;
	font-weight: bolder;
}

.dailylife {
    width: 700px;
    margin: 0 auto;
}
.mv{
	height: 550px;
    background: url("../../Images/mv.jpg") no-repeat 50% 0;
    position: relative;
}
.mv_title{
    top: 0;
	left: 0;
}
