.ImageSize{
	width: 200px;
}

.TextSize{
	font-size: 120%;
	font-weight: bolder;
}


.TextRight{

	text-align: right;
}

.TextLeft{

	text-align: left;
}

.RecruitText{

	margin-top: 100px;
	margin-left: -325px;
	font-size: 150%;
	font-weight: bolder;

}

.RecruitText a{
	margin-left: 550px;	
}

.Head{
	margin-top: 100px;
}

.background{
	background-image: url('../../Images//background.png');
}

.RecruitBox{

	vertical-align:middle;

}
.RecruitBox img{
 
	margin-top: 100px;
	margin-left: 225px;

}
.RecruitBox p{

	display:inline-block;
	vertical-align:top;
	line-height:80px;
	margin-top: 70px;
	margin-left: 50px;
}

profile{

	width: 60px;
	height: 60px;
}