.field{
  position: relative;
  left: 475px;
  width: 950px;
}

.split_left{
  float: left;
  width: 450px;
  hight: 500px;
}


.split_right{
  float: right;
  width: 450px;
  hight: 500px;
  left: 50px;
}

.refresh{
 clear: both;
 width: 950px;
}



.trichotomy_left{
  float: left;
  width: 300px;
  hight: 500px;
}

.trichotomy_center{
   float: left;
  width: 300px;
  hight: 500px;
  left: 25px;
}

.trichotomy_right{
  float: left;
  width: 300px;
  hight: 500px;
  left: 25px;
}
