.title{
 font-size:300%;
}

.subtitle{
 font-size:130%;
 background-color: rgba(128,128,128,0.3);
 font-weight:bolder;

 src="Dot.png";
}

.text{
 font-size:100%;
}

.label{
 font-size:125%;

 background:url("../Images/label.png");
}

.stressed
{
 font-size:120%;
 color:#0067C0;
 font-weight:bolder;
}
